@media screen and (max-width:500px) {
  .head h1 {
    font-size: 5vh;
  }

  .head p {
    font-size: 2vh;
    padding: 1vh;
  }

  .head img {
    width: 20vh;
  }

  .head {
    height: 45vh;
  }

  .courses-overview .card .paragraph {
    margin: auto auto 1vh auto;
    font-size: 1vh;
  }

  .courses-overview .card img {
    width: 15vh;
    height: 15vh;
  }

  .nav-bar #search-bar {
    width: 10vh;
    padding: 0 2.5vh 0 2vh;
  }

  .overview-home .pragraphs .pragraph-1,
  .pragraph-2 {
    font-size: 1.5vh;
  }

  main .courses-list .courses-cards-wrapper img {
    border-radius: 1vh;
    width: 100%;
    height: 200px;
  }

}

@media screen and (max-width:1200px) {

  .nav-bar .nav-bar-ul li:last-child {
    display: block;
  }

  .nav-bar .nav-bar-ul a {
    display: none;
  }

  .nav-bar #search-bar {
    width: 30vw;
    padding-left: 1vh;
  }

  .courses-list-items {
    display: none;
  }

  .courses-list .courses-list-menu-button {
    display: block;
    color: white;
  }

  .courses-list .courses-list-menu.active {
    display: block;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main .content-text {
    border: none;
  }
}

@media screen and (max-width:1000px) {
  .nav-bar .nav-bar-ul li:first-child {
    font-size: 2vh;
  }

  .overview-home {
    padding: 1.5vh;
  }

  .courses-overview .paragraph {
    /* width: 100%; */
    padding: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
  }

  .courses-overview img {
    padding: .5vh;
    float: left;
    width: 20vh;
    height: 20vh;
  }

  .overview-home .pragraphs {
    font-size: 2vh;
    width: fit-content;
  }

  .note-info {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 9px 40px;
  }

  .note-info .note {
    font-size: 11px;
    /* width: 50vw; */
    /* outline: red solid; */
  }

  main .overview .courses-head h3 {
    font-size: 15px;
  }
}

@media screen and (min-width:1000px) {
  .courses-overview .card {
    display: flex;
  }

  .courses-overview .paragraph {
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
  }

  .courses-overview .paragraph h2 {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 3vh 0 0 .5vh;
    /* outline: green solid; */
  }

  .courses-overview .paragraph p {
    width: 90%;
    margin: 0 auto 0 auto;
    /* outline: green solid; */
    padding: 1vh 0 0 1vh;
  }
}